altgraph==0.17
beautifulsoup4==4.8.2
blessings==1.7
bottle==0.12.18
bottle-websocket==0.2.9
bpython==0.18
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
config==0.4.2
curtsies==0.3.1
cx-Freeze==6.1
Eel==0.12.2
et-xmlfile==1.0.1
future==0.18.2
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
idna==2.9
jdcal==1.4.1
openpyxl==3.0.3
pefile==2019.4.18
pycparser==2.20
pygame==1.9.6
Pygments==2.5.2
PyInstaller==3.6
pyTelegramBotAPI==3.6.7
pywin32-ctypes==0.2.0
requests==2.23.0
six==1.14.0
soupsieve==2.0
urllib3==1.25.8
wcwidth==0.1.8
whichcraft==0.6.1
